# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/
ENV/

# IDE/editor
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# App artifacts
assets/**
!.gitkeep
